.history
.DS_Store
.venv
.ipynb_checkpoints
.ipynb_checkpoints_old
.ipynb_checkpoints_old_old
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
.env
0527/slack-mcp-subject.md
kaggle-mcp-env/
eda-mcp-env/
0528/pandas/datasets/*.py
0526/iris-analysis-env
0526/models/
0526/visualizations/
0528/pandas/datasets/*.html
0527/docs/
0527/python/test.ipynb
0526/datasets/Iris.csv
0526/datasets/database.sqlite
0528/dataclass/*.html
0528/dataclass/dataclass_examples.py
0528/dataclass/pydantic_examples.py
0528/dataclass/comparison_examples.py
0528/dataclass/README.md
0526/eda-mcp/SETUP_GUIDE.md
0529/database/SQLAlchemy_with_PostgreSQL.ipynb
0528/pandas/SQL_to_Pandas.ipynb
0602/plotly/Python Plotly Subject_AnswerSheet.ipynb
